<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.architers.server.file.mapper.FileTemplateMapper">

    <resultMap id="resultMap"  type="io.github.architers.server.file.domain.entity.FileTemplate">
        <result  column="check_row_info" property="checkRowInfo" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="check_file_version" property="checkFileVersion" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="selectByTemplateCode"
            resultType="io.github.architers.server.file.domain.entity.FileTemplate" resultMap="resultMap">
        select * from file_template where template_code = #{templateCode}
    </select>

</mapper>
