<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.architers.center.dict.mapper.DictMapper">


    <delete id="deleteByDictCode">
        update sys_dict set deleted = 1 where tenant_id=#{tenant_id} and dict_code in
        <foreach collection="dictCodes" item="dictCode">
            #{dictCode}
        </foreach>
        and deleted = 0
    </delete>


</mapper>

